:root {
    /**
     * Global font jobs.
     * Fonts should be set them to the job the text is doing. Avoid assigning
     * specific font faces on elements to keep future updates simple.
     *
     * Body. Versatile and facilitates reading even long-form content comfortably.
     *
     * Display. To attract attention and set the tone. Good for top-level headings
     * and hero text.
     *
     * Lettering. Artistic font for displaying an individual letter with flair.
     *
     * Signage. To help people find their way around. Use for labels in a grid of
     * products, buttons, strong calls to action, and footers full of links.
     *
     * Small. For clarity at small sizes. Captions, labels, footnotes, or where
     * there is limited screen real estate.
     *
     * Tabular. Quickly scannable to gather data and make comparisons. Ideal for
     * tables of contents, charts, or anywhere data needs to be easily understood.
     *
     * Technical. For technical accuracy where glyph placement is crucial. Use
     * when displaying math formulas, code, or even poetry and infographics.
     *
     * @since 1.5
     */
    --global--font-body: harriet, serif;
    --global--font-display: akkurat, sans-serif;
    --global--font-display-impact: trim-poster, sans-serif;
    --global--font-signage: brauerneue, sans-serif;
    --global--font-small: akkurat, sans-serif;
    --global--font-tabular: akkurat, sans-serif;
    --global--font-technical: akkurat, sans-serif;
    --global--font-lettering: 'Pinyon Script', cursive;

    /**
     * Global font sizes.
     * Specified in t-shirt sizing.
     *
     * @since 1.5
     */
    --global--font-size-xxs: 12px; /* 12px */
    --global--font-size-xs: 0.875rem; /* ~14px */
    --global--font-size-s: 1rem; /* ~16px */
    --global--font-size-m: 1.188rem; /* ~19px */
    --global--font-size-l: 1.5rem; /* ~24px */
    --global--font-size-xl: 1.875rem; /* ~30px */
    --global--font-size-xxl: 2.25rem; /* ~36px */
    --global--font-size-3xl: 2.5rem; /* 40px */
    --global--font-size-4xl: 3rem; /* 48px */
    --global--font-size-5xl: 4.063rem; /* ~65px */
    --global--font-size-6xl: 4.5rem; /* ~72px */

    /* Line Height */
    --global--line-height-body: 1.4;

    /* Content bounds */
    --global--ceiling-text: 700px;
    --global--ceiling-image: 750px;
    --global--ceiling-content: 1150px;

    /**
     * Global font weights.
     *
     * @since 1.5
     */
    --global--font-weight-thin: 100;
    --global--font-weight-extra-light: 200;
    --global--font-weight-light: 300;
    --global--font-weight-regular: 400;
    --global--font-weight-medium: 500;
    --global--font-weight-semi-bold: 600;
    --global--font-weight-bold: 700;
    --global--font-weight-extra-bold: 800;
    --global--font-weight-black: 900;
    --global--font-weight-ultra-black: 950;

    /**
     * Colors.
     * The names for hues are those found on a basic RYB color wheel with tertiary
     * colors.
     *
     * @see https://en.wikipedia.org/wiki/Tertiary_color#Traditional_painting_(RYB)
     *
     * Red, Red-Orange, Orange, Yellow-Orange, Yellow, Yellow-Green, Green,
     * Blue-Green, Blue, Blue-Violet, Violet, and Red-Violet
     *
     * Accessibility:
     * White text will pass on colors with a "dark-" prefix.
     * Black text will pass on colors with a "light-" prefix.
     *
     * Neutral colors:
     * Neutral colors that are not true neutral have either a "warm" or "cool"
     * prefix, as appropriate.
     */
    --global--color-darkest-red: #1f0406;
    --global--color-dark-red: #7a0f19;
    --global--color-red: #D41B2C;
    --global--color-darker-blue: #1b3645;
    --global--color-dark-blue: #385775;
    --global--color-blue: #006EB5;
    --global--color-light-blue: #9ebcda;
    --global--color-lighter-blue: #f7fcfd;
    --global--color-accent-blue: #52CFE5;
    --global--color-blue-green: #00CFB5;
    --global--color-violet: #6e016b;

    --global--color-black: #000;
    --global--color-white: #fff;
    --global--color-dark-gray: #222;
    --global--color-gray: #555;
    --global--color-light-gray: #99a3b0;
    --global--color-lighter-gray: #cbcccb;
    --global--color-lightest-gray: #efefef;

    --global--color-primary: var(--global--color-black);
    --global--color-background: var(--global--color-white);
    --global--color-secondary: var(--global--color-red);
    --global--color-disabled: var(--global--color-lighter-gray);
    --global--color-disabled-background: var(--global--color-lightest-gray);

    /**
     * Global Spacing.
     */
    --global--spacing-unit: 16px;
    --global--spacing-vertical: calc(5 * var(--global--spacing-unit));
    --global--spacing-horizontal: calc(2.5 * var(--global--spacing-unit));
    --global--spacing-gap: 20px;

    --global--spacing-extra-small: calc(0.6 * var(--global--spacing-unit));
    --global--spacing-small: calc(0.8 * var(--global--spacing-unit));
    --global--spacing-medium: var(--global--spacing-unit);
    --global--spacing-large: calc(1.5 * var(--global--spacing-unit));
    --global--spacing-extra-large: calc(1.75 * var(--global--spacing-unit)) /**
   * Global Borders
   */
    --global--border-color-light: var(--global--color-lightest-gray);
    --global--border-color-regular: var(--global--color-lighter-gray);
    --global--border-color-heavy: var(--global--color-gray);
    --global--border-weight-regular: 1px;
    --global--border-weight-bold: 2px;
    --global--border-radius-tight: 3px;
    --global--border-radius-regular: 8px;
    --global--border-radius-loose: 16px;
    /**
     * BEGINNING OF OTHER STYLES
     *
     */

    /**
     * Global font sizes.
     */

    /**
     * Global brand color palette.
     */
    --global--color-brand-dark-blue: #385775;
    --global--color-brand-white: #fff;

    /**
     * Global color palette.
     */

    --global--color-darkest-blue: #1b3645;
    --global--color-teal: #00cfb5;
    --global--color-purple: #6e016b;

    /**
     * Buttons
     */
    --button--primary--base-background: var(--global--color-purple);
    --button--primary--base-color: var(--global--color-brand-white);

    --button--secondary--base-background: var(--global--color-dark-blue);
    --button--secondary--base-color: var(--global--color-brand-white);
    --button--secondary--border-color: var(--global--color-darkest-blue);

    /**
     * Charts
     */
    --graph--color-background: transparent;
    --graph--color-primary: var(--global--color-purple);
    --graph--color-secondary: var(--global--color-light-blue);
    --graph--color-accent-1: var(--global--color-dark-blue);
    --graph--color-accent-2: #8c96c6;
    --graph--color-accent-3: #6e016b;
    --graph--color-lighter-blue: #e0ecf4;

    /*--chart--title-font: var(--global--font-signage, inherit);*/
    /*--chart--title-font-size: var(--global--font-size-l);*/
    /*--chart--title-weight: var(--global--font-weight-bold);*/
    /*--chart--title-color: var(--global--color-black);*/

    --graph-title--font: var(--global--font-signage, inherit);
    --graph-title--font-size: var(--global--font-size-l);
    --graph-title--font-weight: var(--global--font-weight-bold);
    --graph-title--color: var(--global--color-black);
    --graph-title--text-align: left;

    --legend--font: var(--global--font-signage, inherit);
    --legend--font-size: var(--global--font-size-s);
    --legend--font-weight: var(--global--font-weight-medium);
    --legend--text-align: center;
    --legend--color: var(--global--color-black);
    --legend--alignment: space-around;
    --legend--flex-direction: row;


    --chart--variants-base: var(--graph--color-accent-1);
    --chart--variants-alpha: var(--graph--color-accent-2);
    --chart--variants-delta: var(--graph--color-accent-3);

    --chart--footnote-font: var(--global--font-signage, inherit);
    --chart--footnote-font-size: var(--global--font-size-xs);
    --chart--footnote-weight: var(--global--font-weight-light);
    --chart--footnote-color: var(--global--color-black);
    --chart--footnote-line-height: 1.4;
    --chart--footnote-margin: var(--global--spacing-unit);

    --graph--spacing-unit: var(--global--spacing-unit);

    --graph--color-face: var(--global--color-light-blue);

    --data-label--color: var(--global--color-purple);
    --data-label--font-size: var(--global--font-size-xl);
    --data-label--font-weight: var(--global--font-weight-bold);
    --data-label--text-align: center;

    --data-category--color: var(--global--color-black);
    --data-category--font-size: var(--global--font-size-xxs);
    --data-category--font-weight: var(--global--font-weight-regular);

}

/**
 * Base graph elements
 */
.graph {
    background: var(--graph--color-background);
    border-radius: var(--global--border-radius-tight);
    margin: 0;
}

.graph-visual-wrapper {
    display: flex;
    justify-content: center;
}

.graph-title {
    display: block;
    color: var(--graph-title--color);
    font-size: var(--graph-title--font-size);
    font-weight: var(--graph-title--font-weight);
    margin-bottom: var(--graph--spacing-unit, 1rem);
    margin-top: 0;
    text-align: var(--graph-title--text-align, center);
}

.graph-face {
    fill: var(--graph--color-face);
}

.graph-column:nth-child(n+1) {
    fill: var(--graph--color-primary);
}

.graph-column:nth-child(n+2) {
    fill: var(--graph--color-secondary);
}

.graph-column:nth-child(n+3) {
    fill: var(--graph--color-accent-1);
}

.graph-column:nth-child(n+4) {
    fill: var(--graph--color-accent-2);
}

.graph-column:nth-child(n+5) {
    fill: var(--graph--color-accent-3);
}

.legend {
    color: var(--legend--color);
    display: flex;
    flex-direction: var(--legend--flex-direction);
    font-family: var(--legend--font);
    font-size: var(--legend--font-size);
    font-weight: var(--legend--font-weight);
    justify-content: var(--legend--alignment);
    text-align: var(--legend--text-align);
    padding: 0 50px 0 0;
}

.legend-key {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.legend-key__identifier {
    border-radius: 50%;
    display: block;
    margin: calc(0.5 * var(--graph--spacing-unit));
}

.data-label {
    color: var(--data-label--color);
    font-size: var(--data-label--font-size);
    font-weight: var(--data-category--font-weight);
}

svg .data-label {
    fill: var(--data-label--color);
    text-anchor: middle;
    dominant-baseline: middle;
}

.data-category {
    font-size: var(--data-category--font-size);
    color: var(--data-category--color);
    font-weight: var(--data-category--font-weight);
    margin-bottom: 0;
}

/**
 * Graph accent variant
 */
.graph.has-accent {
    --graph--color-background: var(--graph--color-lighter-blue);
    --graph-title--color: var(--global--color-purple);
}

/**
 * Meter graph
 */

.meter-graph {
    --graph-title--font-size: var(--global--font-size-m);
    --data-label--color: var(--global--color-white);
}

/**
 * Donut graph
 */
.donut-graph {
    --graph-title--color: var(--global--color-purple);
    --graph-title--text-align: center;

    display: flex;
    justify-content: var(--chart--alignment, center);
    align-content: var(--chart--alignment, center);
    flex-direction: var(--chart--flex-direction, column);
    padding: var(--graph--spacing-unit);
    margin: 0;
}

.data-label {
    text-align: var(--data-label--text-align);
}

svg .data-label {
    text-anchor: middle;
    dominant-baseline: middle;
}

.donut-graph__graph {
    display: flex;
    justify-content: center;
}

.donut-graph .graph-column:nth-child(n+1) {
    fill: var(--graph--color-primary);
}

.donut-graph .graph-column:nth-child(n+2) {
    fill: var(--graph--color-face);
}

.donut-graph .graph-column:nth-child(n+3) {
    fill: var(--graph--color-secondary);
}

.donut-graph .graph-column:nth-child(n+4) {
    fill: var(--graph--color-accent-1);
}

.donut-graph .graph-column:nth-child(n+5) {
    fill: var(--graph--color-accent-2);
}

.donut-graph .graph-title {
    text-align: center;
}

/**
 * Data point graph
 */

.data-point-graph {
    --graph-title--color: var(--global--color-purple);
    --graph-title--text-align: center;

    display: flex;
    justify-content: var(--chart--alignment, center);
    align-content: var(--chart--alignment, center);
    flex-direction: var(--chart--flex-direction, column);
    margin: 0;
}

.data-point-graph .graph-column {
    fill: transparent;
    stroke: var(--graph--color-face);
}


/**
 * Waffle Graph
 */
.waffle-graph .chart-label {
    margin: 0;
    text-align: left;
}

/**
 * Wellness Summary
 */
.wellness-summary {
    --graph-title--font-size: var(--global--font-size-m);
    --data-label--color: var(--global--color-black);
    --data-label--font-size: var(--global--font-size-m);
    --data-label--text-align: left;

    flex: 1 1 0;
    padding: var(--global--spacing-unit);

}

.wellness-summary-list {
    display: flex;
}

.wellness-summary-list > * + * {
    margin-left: var(--global--spacing-gap);
}

.wellness-summary__location {
    flex: 1 1 auto;
}

.wellness-summary__location-list {
    display: flex;
    justify-content: stretch;
}

.wellness-summary__location-name {
    text-transform: uppercase;
}

/**
 * Basic layouts
 */
.graph-group {
    display: flex;
    justify-content: space-around;
}

.graph-group > * + * {
    margin-left: var(--global--spacing-gap);
}

/**
 * Overview section
 */
#overview .graph {
    --graph-title--color: var(--global--color-black);
    --graph-title--font-size: var(--global--font-size-m);
    flex-direction: column-reverse;
}

/**
 * Daily Positives section
 */
.daily-positives-list > * + * {
    margin-top: var(--global--spacing-gap);
}

/**
 * COVID Variants section
 */
#covid-variants .waffle-graph {
    --graph--sars-cov-2: var(--graph--color-primary);
    --graph--sars-cov-2-delta: var(--graph--color-accent-1);
}

.graph-column.graph-column-sars-cov-2 {
    fill: var(--graph--sars-cov-2);
}

.graph-column.graph-column-sars-cov-2-delta {
    fill: var(--graph--sars-cov-2-delta)
}

.graph-column-sars-cov-2 .legend-key__identifier {
    background: var(--graph--sars-cov-2);
}

.graph-column-sars-cov-2-delta .legend-key__identifier {
    background: var(--graph--sars-cov-2-delta);
}

/**
 * Other styles
 */

.panel-testing-results {
    --chart--title-color: var(--global--color-purple);
}

#seven-day-overview {
    --chart--flex-direction: column-reverse;
    --chart--title-font-size: var(--global--font-size-m);
}

/**
 * Dashboard layout
*/
.panel-testing-results {
    grid-area: dash-test;
}

.dash-positive {
    grid-area: dash-positive;
}

.dash-variants {
    grid-area: dash-variants;
}

.dash-vac-rate {
    grid-area: dash-vac-rate;
}

.dash-wellness {
    grid-area: dash-wellness;
}

.dash-table-container {
    grid-area: dash-table;
}

#dashboard-grid {
    display: grid;
    /*grid-template-columns: repeat(6, 1fr);*/
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0 60px;
    grid-template-areas:
		  "dash-test"
		  "dash-positive"
		  "dash-variants"
		  "dash-vac-rate"
		  "dash-wellness"
          "dash-table";
    /* margin-bottom:15px; */
}

.dashboard-grid-item {
    margin-bottom: 2rem;
}

.panel-testing-results {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
    grid-template-areas:
		  "dash-stats dash-bars";
    grid-area: dash-test;


}

.dash-test-item {
    width: 100%;

}

@media screen and (max-width: 960px) {
    .dash-test-item {
        width: 90%;
    }

    .button-filter {
        font-size: var(--global--font-size-xxs);
        height: 4.5em;
    }

    .dash-pos-donuts {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.dash-stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    gap: 10px 0px;
    grid-template-areas:
	  "."
	  "."
	  ".";
}

.dash-stats-item {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash-stats-item h3 {
    margin: 0;
}

.donut-item {
    display: flex;
    justify-content: center;
}

.covid-links a {
    font-weight: 600;
    color: #f7fcfd;
    margin: 0 10px;
}

/* Dashboard Positive */
.dash-pos-donuts {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
    grid-template-areas:
		". . .";

}

.donut-positive-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-label {
    text-align: center;
}

.dash-vac-chart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
}

span.cell {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    /* justify-content: center;
      align-items: center; */
}

span.dot-1 {
    background-color: #bfd3e6;


}

span.dot-2 {
    background: #8c96c6;

}

span.dot-3 {
    background: #6e016b;

}

.cell-label-var {
    text-anchor: middle;
    font-size: 0.65rem;
    color: #777;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-family: "akkurat", -apple-system, sans-serif;
    /* opacity: 50%; */

}

h3.vac-title {
    margin: 0 20px
}


.stacked-cont {
    margin: 2em 0;
    display: flex;
}

.stacked-cont.is-horizontal {
    flex-direction: column;
}

.dash-table-wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: height linear 200ms;
}

.dash-table-wrapper::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 180px;
    position: absolute;
    z-index: 10;
}

.table-button {
    margin: 0 auto;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #6e016b;
    color: #f7fcfd;
    font-size: 16px;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    #dashboard-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 40px 60px;
        grid-template-areas:
  			  "dash-test"
  			  "dash-positive"
  			  "dash-variants"
  			  "dash-vac-rate"
  			  "dash-wellness"
  			 "dash-table";
        /* margin-bottom:15px; */
    }

    .dashboard-grid-item {
        margin-bottom: 1rem;
        width: 100vw;
    }

    /* .dash-table {
        overflow: scroll;
    } */
    .dash-stats {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px 0px;
        grid-template-areas:
		  "."
		  "."
		  ".";
    }

    .donut-item {
        flex-flow: wrap-reverse;
    }

    #dash-test-item {
        width: 100vw;
        margin: 1rem 0;

    }

    .panel-testing-results {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.65fr;
        gap: 0px 40px;
        grid-template-areas:
			  "dash-stats"
			   "dash-bars";
        grid-area: dash-test;


    }

    .donut-chart {
        margin: 1em auto;
    }

    .chart {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dash-positive {
        width: 100vw;
    }

    .dash-pos-donuts {


        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas:
			". ."
			". .";

        /* gap: 0px 40px; */
        /* grid-template-areas:
          "."
          "."
          "."; */
        /* justify-items: center;
          align-items: center; */
        /* margin: 0 auto; */
        /* width: 50%;
        margin: 0 auto; */
    }

    span#cell {
        height: 20px;
        width: 20px;
    }

    .dash-vac-chart {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 40px;
    }


    .dash-stacked-vaccination {
        width: 90%;
        margin: 0 auto;
    }
}

/**
 * Toolbar
 */
menu[type=toolbar] {
    display: flex;
}

menu[type=toolbar] button {
    background-color: var(--button--secondary--base-background);
    color: var(--button--secondary--base-color);
    border-radius: 0;
    border-left: 1px solid var(--button--secondary--border-color);
    margin: 0;
    padding: calc(0.75 * var(--global--spacing-unit)) calc(1.5 * var(--global--spacing-unit)) calc(0.75 * var(--global--spacing-unit) - 2px);
}

menu[type=toolbar] button:first-child {
    border-left: none;
    border-radius: var(--global--border-radius-regular) 0 0 var(--global--border-radius-regular);
}

menu[type=toolbar] button:last-child {
    border-radius: 0 var(--global--border-radius-regular) var(--global--border-radius-regular) 0;
}

menu[type=toolbar] button + button:not(:last-child) {
}


menu button.is-active {
    background-color: var(--button--primary--base-background);
    color: var(--button--secondary--base-color);
}

.filter-bar-presets {
    padding: 0;
}

.filter-bar-date-range {
    display: block;
    margin: 1rem 1rem 1rem 0;
}

.filter-bar-date-range > * {
    padding: 0.25rem;
}


/**
 * Buttons
 */
button {
    align-items: center;
    background-color: var(--button--secondary--base-background);
    border-radius: var(--global--border-radius-regular);
    border: 0;
    color: var(--button--secondary--base-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--global--font-signage);
    font-size: 16px;
    font-weight: var(--button--base-weight, bold);
    line-height: 1;
    margin: 0 auto;
    padding: 7px 10px 5px;
    place-self: flex-end;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 100ms;
}

button.is-primary {
    background-color: var(--button--primary--base-background);
    color: var(--button--primary--base-color);
}

/**
 * Datepicker
 */

.datepicker {
    margin: 0 !important;
}

.datepicker-label {
    border: var(--global--border-light-weight, 1px) solid #cbcccb;
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
    width: 12ch !important;
    /* width: 96px !important; */
}

/**
 * Dashboard Intro
 */
.dashboard-intro {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footnotes {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}
