:root {
    /**
     * Global font jobs.
     * Fonts should be set them to the job the text is doing. Avoid assigning
     * specific font faces on elements to keep future updates simple.
     *
     * Body. Versatile and facilitates reading even long-form content comfortably.
     *
     * Display. To attract attention and set the tone. Good for top-level headings
     * and hero text.
     *
     * Lettering. Artistic font for displaying an individual letter with flair.
     *
     * Signage. To help people find their way around. Use for labels in a grid of
     * products, buttons, strong calls to action, and footers full of links.
     *
     * Small. For clarity at small sizes. Captions, labels, footnotes, or where
     * there is limited screen real estate.
     *
     * Tabular. Quickly scannable to gather data and make comparisons. Ideal for
     * tables of contents, charts, or anywhere data needs to be easily understood.
     *
     * Technical. For technical accuracy where glyph placement is crucial. Use
     * when displaying math formulas, code, or even poetry and infographics.
     *
     * @since 1.5
     */
    --global--font-body: harriet, serif;
    --global--font-display: akkurat, sans-serif;
    --global--font-display-impact: trim-poster, sans-serif;
    --global--font-signage: brauerneue, sans-serif;
    --global--font-small: akkurat, sans-serif;
    --global--font-tabular: akkurat, sans-serif;
    --global--font-technical: akkurat, sans-serif;
    --global--font-lettering: 'Pinyon Script', cursive;

    /**
     * Global font sizes.
     * Specified in t-shirt sizing.
     *
     * @since 1.5
     */
    --global--font-size-xxs: 12px; /* 12px */
    --global--font-size-xs: 0.875rem; /* ~14px */
    --global--font-size-s: 1rem; /* ~16px */
    --global--font-size-m: 1.188rem; /* ~19px */
    --global--font-size-l: 1.5rem; /* ~24px */
    --global--font-size-xl: 1.875rem; /* ~30px */
    --global--font-size-xxl: 2.25rem; /* ~36px */
    --global--font-size-3xl: 2.5rem; /* 40px */
    --global--font-size-4xl: 3rem; /* 48px */
    --global--font-size-5xl: 4.063rem; /* ~65px */
    --global--font-size-6xl: 4.5rem; /* ~72px */

    /* Line Height */
    --global--line-height-body: 1.4;

    /* Content bounds */
    --global--ceiling-text: 700px;
    --global--ceiling-image: 750px;
    --global--ceiling-content: 1150px;

    /**
     * Global font weights.
     *
     * @since 1.5
     */
    --global--font-weight-thin: 100;
    --global--font-weight-extra-light: 200;
    --global--font-weight-light: 300;
    --global--font-weight-regular: 400;
    --global--font-weight-medium: 500;
    --global--font-weight-semi-bold: 600;
    --global--font-weight-bold: 700;
    --global--font-weight-extra-bold: 800;
    --global--font-weight-black: 900;
    --global--font-weight-ultra-black: 950;

    /**
     * Colors.
     * The names for hues are those found on a basic RYB color wheel with tertiary
     * colors.
     *
     * @see https://en.wikipedia.org/wiki/Tertiary_color#Traditional_painting_(RYB)
     *
     * Red, Red-Orange, Orange, Yellow-Orange, Yellow, Yellow-Green, Green,
     * Blue-Green, Blue, Blue-Violet, Violet, and Red-Violet
     *
     * Accessibility:
     * White text will pass on colors with a "dark-" prefix.
     * Black text will pass on colors with a "light-" prefix.
     *
     * Neutral colors:
     * Neutral colors that are not true neutral have either a "warm" or "cool"
     * prefix, as appropriate.
     */
    --global--color-darkest-red: #1f0406;
    --global--color-dark-red: #7a0f19;
    --global--color-red: #D41B2C;
    --global--color-darker-blue: #1b3645;
    --global--color-dark-blue: #385775;
    --global--color-blue: #006EB5;
    --global--color-light-blue: #9ebcda;
    --global--color-lighter-blue: #f7fcfd;
    --global--color-accent-blue: #52CFE5;
    --global--color-blue-green: #00CFB5;
    --global--color-violet: #6e016b;

    --global--color-black: #000;
    --global--color-white: #fff;
    --global--color-darker-gray: #222;
    --global--color-dark-gray: #6F7680;
    --global--color-gray: #555;
    --global--color-light-gray: #99a3b0;
    --global--color-lighter-gray: #cbcccb;
    --global--color-lightest-gray: #efefef;

    --global--color-primary: var(--global--color-black);
    --global--color-background: var(--global--color-white);
    --global--color-secondary: var(--global--color-red);
    --global--color-disabled: var(--global--color-lighter-gray);
    --global--color-disabled-background: var(--global--color-lightest-gray);

    /**
     * Global Spacing.
     */
    --global--spacing-unit: 16px;
    --global--spacing-vertical: calc(5 * var(--global--spacing-unit));
    --global--spacing-horizontal: calc(2.5 * var(--global--spacing-unit));
    --global--spacing-gap: 20px;

    --global--spacing-extra-small: calc(0.6 * var(--global--spacing-unit));
    --global--spacing-small: calc(0.8 * var(--global--spacing-unit));
    --global--spacing-medium: var(--global--spacing-unit);
    --global--spacing-large: calc(1.5 * var(--global--spacing-unit));
    --global--spacing-extra-large: calc(1.75 * var(--global--spacing-unit)) /**
   * Global Borders
   */
    --global--border-color-light: var(--global--color-lightest-gray);
    --global--border-color-regular: var(--global--color-lighter-gray);
    --global--border-color-heavy: var(--global--color-gray);
    --global--border-weight-regular: 1px;
    --global--border-weight-bold: 2px;
    --global--border-radius-tight: 3px;
    --global--border-radius-regular: 8px;
    --global--border-radius-loose: 16px;
    /**
     * BEGINNING OF OTHER STYLES
     *
     */

    /**
     * Global font sizes.
     */

    /**
     * Global brand color palette.
     */
    --global--color-brand-dark-blue: #385775;
    --global--color-brand-white: #fff;

    /**
     * Global color palette.
     */

    --global--color-darkest-blue: #1b3645;
    --global--color-teal: #00cfb5;
    --global--color-purple: #6e016b;

    /**
     * Buttons
     */
    --button--primary--base-background: var(--global--color-purple);
    --button--primary--base-color: var(--global--color-brand-white);

    --button--secondary--base-background: var(--global--color-dark-blue);
    --button--secondary--base-color: var(--global--color-brand-white);
    --button--secondary--border-color: var(--global--color-darkest-blue);

    /**
     * Charts
     */
    --graph--color-background: transparent;
    --graph--color-primary: var(--global--color-purple);
    --graph--color-secondary: var(--global--color-light-blue);
    --graph--color-accent-1: var(--global--color-dark-blue);
    --graph--color-accent-2: #8c96c6;
    --graph--color-accent-3: #6e016b;
    --graph--color-lighter-blue: #e0ecf4;
    --graph--color-dark-purple: #3e0159;

    /*--chart--title-font: var(--global--font-signage, inherit);*/
    /*--chart--title-font-size: var(--global--font-size-l);*/
    /*--chart--title-weight: var(--global--font-weight-bold);*/
    /*--chart--title-color: var(--global--color-black);*/

    --graph-title--font: var(--global--font-signage, inherit);
    --graph-title--font-size: var(--global--font-size-l);
    --graph-title--font-weight: var(--global--font-weight-bold);
    --graph-title--color: var(--global--color-black);
    --graph-title--text-align: left;
    --graph--secondary-stroke-width: 8px;

    --legend--font: var(--global--font-signage, inherit);
    --legend--font-size: var(--global--font-size-s);
    --legend--font-weight: var(--global--font-weight-regular);
    --legend--text-align: center;
    --legend--color: var(--global--color-dark);
    --legend--alignment: space-around;
    --legend--flex-direction: row;


    --chart--variants-base: var(--graph--color-accent-1);
    --chart--variants-alpha: var(--graph--color-accent-2);
    --chart--variants-delta: var(--graph--color-accent-3);

    --footnote--font: var(--global--font-signage, inherit);
    --footnote--font-size: var(--global--font-size-xs);
    --footnote--weight: var(--global--font-weight-light);
    --footnote--color: var(--global--color-dark-gray);
    --footnote--line-height: 1.55;
    --footnote--letter-spacing: 0.001em;
    --footnote--margin: var(--global--spacing-unit);

    --axis-label--font-size: var(--global--font-size-xxs);
    --axis-label--color: var(--global--color-gray);
    --axis-label--font: var(--global--font-signage, inherit);
    --axis-line--color: var(--global--color-gray);

    --graph--spacing-unit: var(--global--spacing-unit);

    --graph--color-face: var(--global--color-light-blue);

    --data-label--color: var(--global--color-purple);
    --data-label--font-size: var(--global--font-size-xl);
    --data-label--font-weight: var(--global--font-weight-bold);
    --data-label--text-align: center;

    --data-category--color: var(--global--color-black);
    --data-category--font-size: var(--global--font-size-xxs);
    --data-category--font-weight: var(--global--font-weight-regular);

}

/**
 * Base graph elements
 */
.daily-positives__list > .graph + .graph,
.dash-vac-chart .stacked-cont > .graph + .graph {

    margin-top: var(--global--spacing-large);

}

.dashboard section {
    margin-top: var(--global--spacing-vertical);
}

.dashboard section#testing-results,
.dashboard section#testing-results section {
    margin-top: 0;
}

.dashboard .section-heading {
    font-size: var(--global--font-size-xl);
    margin-left: 0;
}

.dashboard .graph-title {
    font-size: var(--global--font-size-xl);
}

.dashboard .datepicker {
    width: 12ch;
    font-size: var(--global--font-size-m);
}

.dashboard .graph {
    background: var(--graph--color-background);
    border-radius: var(--global--border-radius-tight);
    margin: 0;
    position: relative;
}

.dashboard svg .tick {
    color: var(--axis-label--color);
    font-family: var(--axis-label--font);
    font-size: var(--axis-label--font-size);
}

.dashboard svg .axis-line {
    stroke: var(--axis-label--color);
}

.dashboard svg .axis-label {
    color: var(--axis-label--color);
    font-family: var(--axis-label--font);
    font-size: var(--axis-label--font-size);
}

svg .axis-label--x {
    transform: rotate(-45deg) translateY(4px);
    text-anchor: end;
}

.dashboard .graph-visual-wrapper {
    display: flex;
    justify-content: center;
}

.dashboard .graph-title {
    display: block;
    color: var(--graph-title--color);
    font-size: var(--graph-title--font-size);
    font-weight: var(--graph-title--font-weight);
    margin-bottom: var(--graph--spacing-unit, 1rem);
    margin-top: 0;
    text-align: var(--graph-title--text-align, center);
}

.graph-face {
    fill: var(--graph--color-face);
}

.graph-column:nth-child(n+1) {
    fill: var(--graph--color-primary);
}

.graph-column:nth-child(n+2) {
    fill: var(--graph--color-secondary);
}

.graph-column:nth-child(n+3) {
    fill: var(--graph--color-accent-1);
}

.graph-column:nth-child(n+4) {
    fill: var(--graph--color-accent-2);
}

.graph-column:nth-child(n+5) {
    fill: var(--graph--color-accent-3);
}

.dashboard .legend {
    color: var(--legend--color);
    display: flex;
    flex-direction: var(--legend--flex-direction);
    font-family: var(--legend--font);
    font-size: var(--legend--font-size);
    font-weight: var(--legend--font-weight);
    justify-content: var(--legend--alignment);
    text-align: var(--legend--text-align);
    padding: 0 50px 0 0;
}

.dashboard .legend-key {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.dashboard .legend-key__identifier {
    display: block;
    margin: calc(0.5 * var(--graph--spacing-unit));
}

.dashboard .data-label {
    color: var(--data-label--color);
    font-size: var(--data-label--font-size);
    font-weight: var(--data-category--font-weight);
}

.dashboard svg .data-label {
    fill: var(--data-label--color);
    text-anchor: middle;
    dominant-baseline: middle;
}

.dashboard .data-category {
    font-size: var(--data-category--font-size);
    color: var(--data-category--color);
    font-weight: var(--data-category--font-weight);
    margin-bottom: 0;
    margin-left: 0;
    border: none;
}

/**
 * Graph accent variant
 */
.dashboard .graph.has-accent {
    --graph--color-background: var(--graph--color-lighter-blue);
    --graph-title--color: var(--global--color-purple);
}

/**
 * Bar graph
 */
.dashboard .bar-graph {

}

.dashboard .tooltip {
    background: white;
    border: var(--global--border-weight-bold) solid var(--global--border-color-heavy);
    border-radius: var(--global--border-radius-regular);
    font-family: var(--global--font-signage);
    font-size: var(--global--font-size-s);
    padding: var(--global--spacing-unit);
    display: none;
    pointer-events: none;
}

/**
 * Meter graph
 */

.dashboard .meter-graph {
    --graph-title--font-size: var(--global--font-size-m);
    --data-label--color: var(--global--color-white);
}

/**
 * Donut graph
 */

.dashboard .donut-graph {
    --graph-title--color: var(--global--color-purple);
    --graph-title--text-align: center;
}

.dashboard .donut-graph .graph-column:nth-child(n+1) {
    fill: var(--graph--color-primary);
}

.dashboard .donut-graph .graph-column:nth-child(n+2) {
    fill: var(--graph--color-face);
}

.dashboard .donut-graph .graph-column:nth-child(n+3) {
    fill: var(--graph--color-secondary);
}

.dashboard .donut-graph .graph-column:nth-child(n+4) {
    fill: var(--graph--color-accent-1);
}

.dashboard .donut-graph .graph-column:nth-child(n+5) {
    fill: var(--graph--color-accent-2);
}

.dashboard .data-label {
    text-align: var(--data-label--text-align);
}

/**
 * Wellness Summary
 */
.wellness-summary {
    --graph-title--font-size: var(--global--font-size-m);
    --data-label--color: var(--global--color-black);
    --data-label--font-size: var(--global--font-size-m);
    --data-label--text-align: left;
}

.wellness-summary__list {
    display: flex;
}

@media only screen and (max-width: 640px) {
    #overview .graph-group,
    .wellness-summary__list {
        flex-direction: column;
    }

    #overview .graph + .graph,
    .wellness-summary-graph + .wellness-summary-graph {
        margin-top: var(--global--spacing-gap);
    }
}

@media only screen and (min-width: 641px) {
    .wellness-summary-graph + .wellness-summary-graph {
        margin-left: var(--global--spacing-gap);
    }

}

.wellness-summary-graph {
    padding: var(--global--spacing-unit);
    flex: 1 1 0;
}

.wellness-summary__location {
    flex: 1 1 auto;
}

.wellness-summary__location-list {
    display: flex;
    justify-content: stretch;
}

.wellness-summary__location-name {
    text-transform: uppercase;
}

.wellness-summary__list .data-category {
    margin-bottom: 8px;
    margin-top: 44px;
    display: inline-block;
    clear: unset;
    margin-left: 0;
    border-bottom: unset;
}

#wellness-summary {
--data-label--text-align: left;
}

/**
 * Basic layouts
 */
.dashboard .graph-group {
    display: flex;
    justify-content: space-around;
}

.dashboard .graph-group > * + * {
    margin-left: var(--global--spacing-gap);
}

/**
 * Results by Date section
 */


#results-by-date svg .graph-column-negative-tests {
    fill: var(--graph--color-secondary);
}

#results-by-date svg .graph-column-negative-tests:hover,
#results-by-date svg .graph-column-negative-tests:focus {
    fill: var(--graph--color-accent-1);

}

#results-by-date svg .graph-column-positive-tests {
    fill: var(--graph--color-primary);
}

#results-by-date svg .graph-column-positive-tests:hover,
#results-by-date svg .graph-column-positive-tests:focus {
    fill: var(--graph--color-dark-purple);
}

#results-by-date .legend-key__identifier {
    width: 100%;
    height: 10px;
}

#results-by-date .graph-column-negative-tests .legend-key__identifier {
    background: var(--graph--color-secondary);
}

#results-by-date .graph-column-positive-tests .legend-key__identifier {
    background: var(--graph--color-primary);
}

/**
 * Overview section
 */
#overview .graph {
    --graph-title--color: var(--global--color-black);
    --graph-title--font-size: var(--global--font-size-m);
    flex-direction: column-reverse;
}

/**
 * Daily Positives section
 */

#daily-positives {
    display: flex;
    flex-direction: column;
}

.daily-positives__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.daily-positives__list > * {
    flex: 1 1 auto;
}

.daily-positives__list > * + * {
    margin-top: var(--global--spacing-gap);
}

/**
 * COVID Variants section
 */
#covid-variants .waffle-graph {
    --graph--sars-cov-2: var(--graph--color-primary);
    --graph--sars-cov-2-delta: var(--graph--color-accent-1);
}

@media only screen and (max-width: 640px) {
    #covid-variants .waffle-graph {
        max-width: 100%;
        overflow: hidden;
    }

    #covid-variants .waffle-graph svg{
        width: 1000px !important;
    }
}

.graph-column.graph-column-sars-cov-2 {
    fill: var(--graph--sars-cov-2);
}

.graph-column.graph-column-sars-cov-2-delta {
    fill: var(--graph--sars-cov-2-delta)
}

.graph-column-sars-cov-2 .legend-key__identifier {
    background: var(--graph--sars-cov-2);
}

.graph-column-sars-cov-2-delta .legend-key__identifier {
    background: var(--graph--sars-cov-2-delta);
}

/**
 * Other styles
 */

.panel-testing-results {
    --chart--title-color: var(--global--color-purple);
}

#seven-day-overview {
    --chart--flex-direction: column-reverse;
    --chart--title-font-size: var(--global--font-size-m);
}

/**
 * Layout
*/
#testing-results {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

@media only screen and (min-width: 641px) {
    #testing-results {
        flex-direction: row;
    }
}

#results-by-date {
    /*max-height: 500px;*/
    max-height: 736px;
    overflow: hidden;
}

#results-by-date {
    max-height: 736px;
}

@media only screen and (min-width: 641px) {
}

#testing-results > * {
    flex: 1 1 50%;
}

#testing-results > * + * {
    margin-left: var(--global--spacing-gap);
}

.collapsable-table-wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: height linear 200ms;
    margin-bottom: var(--global--spacing-unit);
}

.collapsable-table-wrapper::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    display: block;
    height: 180px;
    position: absolute;
    transition: background 0.2s linear;
    z-index: 10;
    pointer-events: none;
}

.collapsable-table-wrapper.is-expanded::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.table-button {
    margin: 0 auto;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #6e016b;
    color: #f7fcfd;
    font-size: 16px;
    border-radius: 12px;
}

/**
 * Toolbar
 */

menu[type=toolbar] {
    display: flex;
}

menu[type=toolbar] button {
    background-color: var(--button--secondary--base-background);
    color: var(--button--secondary--base-color);
    border-radius: 0;
    border-left: 1px solid var(--button--secondary--border-color);
    margin: 0;
    padding: calc(0.75 * var(--global--spacing-unit)) calc(1.5 * var(--global--spacing-unit)) calc(0.75 * var(--global--spacing-unit) - 2px);
    align-self: stretch;
}

menu[type=toolbar] button:first-child {
    border-left: none;
    border-radius: var(--global--border-radius-regular) 0 0 var(--global--border-radius-regular);
}

menu[type=toolbar] button:last-child {
    border-radius: 0 var(--global--border-radius-regular) var(--global--border-radius-regular) 0;
}

menu[type=toolbar] button + button:not(:last-child) {
}


menu button.is-active {
    background-color: var(--button--primary--base-background);
    color: var(--button--secondary--base-color);
}

.filter-bar-presets {
    padding: 0;
}

.filter-bar-date-range {
    display: block;
    margin: 1rem 1rem 1rem 0;
}

.filter-bar-date-range > * {
    padding: 0.25rem;
}


/**
 * Buttons
 */
button {
    align-items: center;
    background-color: var(--button--secondary--base-background);
    border-radius: var(--global--border-radius-regular);
    border: 0;
    color: var(--button--secondary--base-color);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--global--font-signage);
    font-size: 16px;
    font-weight: var(--button--base-weight, bold);
    line-height: 1;
    margin: 0 auto;
    padding: 7px 10px 5px;
    place-self: flex-end;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 100ms;
}

button.is-primary {
    background-color: var(--button--primary--base-background);
    color: var(--button--primary--base-color);
}

/**
 * Datepicker
 */

.datepicker {
    margin: 0 !important;
}

.date-separator {
    font-size: var(--global--font-size-m);
}

.datepicker-label {
    border: var(--global--border-weight-regular, 1px) solid #cbcccb;
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
    /*width: 12ch !important;*/
    /* width: 96px !important; */
}

/**
 * Sections
 */
/*section {*/
/*    margin-top: 2rem;*/
/*    margin-bottom: 3rem;*/
/*}*/

/**
 * Footnotes
 */

.footnote {
    display: block;
    font-family: var(--footnote--font);
    font-size: var(--footnote--font-size);
    font-weight: var(--footnote--weight);
    color: var(--footnote--color);
    line-height: var(--footnote--line-height);
    letter-spacing: var(--footnote--letter-spacing);
    margin: var(--footnote--margin) 0;
}

.footnote-offset {
    text-transform: uppercase;
}